{% extends "main.html" %}

{% block title %}My Applications - Secrets{% endblock %}

{% block content %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <h2>Secrets</h2>
  <div class="d-flex clearfix">
    <div class="float-start">
      <p>
        Secrets are a way to give your function access to some sensitive piece
        of information like a database password or an API token. They are
        preferred to environment variables because while environment variables
        are omnipresent in the function they can be accidentally revealed
        relatively easily. Secrets, on the other hand, are not immediately
        visible to the application without opening the secrets file and reading
        it. Secrets are mounted within your function at
        <code>/var/openfaas/secrets/secretname</code> and can be read like any
        other file.
      </p>
      <p>
        Keep in mind that anyone who deploys a function to this system can see
        your secret simply by using it in their own function. Secrets are meant
        to keep the public from seeing sensitive information but they are not
        meant to keep your colleagues from seeing that same information. Do not
        store things in secrets that you would not want shared with your
        colleagues.
      </p>
    </div>
    <div class="float-end text-nowrap">
      <button type="button" class="btn btn-primary action-create" title="Create a new secret.">
        Create New Secret
      </button>
    </div>
  </div>

  <table
      class="table"
      data-classes="table table-bordered table-hover"
      data-toggle="table"
      data-search="true"
      data-search-on-enter-key="true">
    <thead style="background-color: lightgray;">
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {% if data.secrets|length %}
        {% for secret in data.secrets %}
          <tr>
            <td class="align-top">
              <div class="text-nowrap clearfix">
                <div class="float-start">
                  {{ secret.name }}
                </div>
                <div class="float-end">
                  <button type="button" class="btn btn-secondary btn-sm action-update" title="Update this secret." data-name="{{ secret.name }}">
                    <i class="bi bi-card-text" aria-label="Update this secret."></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-sm action-delete" title="Delete this secret." data-name="{{ secret.name }}">
                    <i class="bi bi-x-circle-fill" aria-label="Delete this secret."></i>
                  </button>
                </div>
              </div>
            </td>
          </tr>
        {% endfor %}
      {% else %}
        <tr><td class="text-center">There are no secrets deployed at this time.</td></tr>
      {% endif %}
    </tbody>
  </table>
{% endblock %}

{% block footer %}
  <script>
      function message(title, body, clazz, buttons=[]) {
          if (!buttons.length) {
              buttons = ["<button type='button' class='btn btn-primary' data-bs-dismiss='modal'>Close</button>"]
          }

          let html = [
              "<div id='dialog' class='modal' tabindex='-1' role='dialog'>",
                  "<div class='modal-dialog' role='document'>",
                      "<div class='modal-content'>",
                          "<div class='modal-header " + clazz + "'>",
                              "<h5 class='modal-title'>" + title + "</h5>",
                              "<button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>",
                          "</div>",
                          "<div class='modal-body'>",
                              "<p>" + body + "</p>",
                          "</div>",
                          "<div class='modal-footer'>",
                              buttons.join(""),
                          "</div>",
                      "</div>",
                  "</div>",
              "</div>",
          ].join("");
          $("#dialog").remove();
          $("body").append(html);
      }

      function post(params) {
          const form = document.createElement("form");
          form.method = "POST";
          form.action = {{ url_for("secrets.index")|tojson }};

          for (const key in params) {
              if (params.hasOwnProperty(key)) {
                  const hiddenField = document.createElement("input");
                  hiddenField.type = "hidden";
                  hiddenField.name = key;
                  hiddenField.value = params[key];
                  form.appendChild(hiddenField);
              }
          }

          const hiddenField = document.createElement("input");
          hiddenField.type = "hidden";
          hiddenField.name = "csrf_token";
          hiddenField.value = {{ csrf_token()|tojson }};
          form.appendChild(hiddenField);

          document.body.appendChild(form);
          form.submit();
      }

      $("table.table").on("post-body.bs.table", function () {
          $("button.action-update").on("click", function (e) {
              let button = $(e.currentTarget),
                  name = button.data("name");

              message(
                  "Update Secret",
                  [
                      "<div class='alert alert-danger' role='alert'></div>",
                      "<p>What should the new value be for this secret?</p>",
                      "<form><input type='text' required='required' class='form-control' name='value' value=''></form>",
                  ].join(""),
                  "alert-dark",
                  [
                      "<button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Cancel</button>",
                      "<button type='button' class='btn btn-primary' data-action='save'>Save</button>",
                  ]
              );

              $("#dialog button[data-action='save']").on("click", function () {
                  let value = $("#dialog form input[name='value']").val();
                  post({"action": "update", "name": name, "value": value});
              });

              $("#dialog div[role='alert']").hide();
              $("#dialog").on("shown.bs.modal", function () {
                  $("#dialog form input[name='value']").focus();
              });
              $("#dialog").modal("show");
          });

          $("button.action-delete").on("click", function (e) {
              let button = $(e.currentTarget),
                  name = button.data("name");

              message(
                  "Delete Secret",
                  [
                      "<p>",
                        "Are you sure that you'd like to delete the secret named '" + name + "'? ",
                        "If this secret is in use then it will prevent those functions from deploying or scaling.",
                      "</p>",
                  ].join(""),
                  "alert-dark",
                  [
                      "<button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Cancel</button>",
                      "<button type='button' class='btn btn-primary' data-action='delete'>Delete</button>",
                  ]
              );

              $("#dialog button[data-action='delete']").on("click", function () {
                  post({"action": "delete", "name": name});
              });

              $("#dialog").modal("show");
          });
      });

      $("button.action-create").on("click", function (e) {
          let button = $(e.currentTarget);

          message(
              "Create New Secret",
              [
                  "<div class='alert alert-danger' role='alert'></div>",
                  "<form>",
                    "<p>What is the name of the secret?</p>",
                    "<input type='text' required='required' class='form-control' name='name' value=''><br/>",
                    "<p>What is the value for the secret?</p>",
                    "<textarea name='value' class='form-control' rows='5'></textarea>",
                  "</form>",
              ].join(""),
              "alert-dark",
              [
                  "<button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Cancel</button>",
                  "<button type='button' class='btn btn-primary' data-action='save'>Save</button>",
              ]
          );

          $("#dialog button[data-action='save']").on("click", function () {
              let name = $("#dialog form input[name='name']").val(),
                  value = $("#dialog form textarea[name='value']").val();
              post({"action": "create", "name": name, "value": value});
          });

          $("#dialog div[role='alert']").hide();
          $("#dialog").on("shown.bs.modal", function () {
              $("#dialog form input[name='name']").focus();
          });
          $("#dialog").modal("show");
      });
  </script>
{% endblock %}
